
{% extends 'base.html' %}

{% load static %}

{% block content %}

  <h1 class="text-center" id= "category-title">Trending Now</h1>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 d-flex movie-card">

      {% for playing_now in now_playing_movies|slice:":4" %}
   
    <div class = "img-cont">
      <a href="">
        <img src="https://image.tmdb.org/t/p/w500/{{playing_now.poster_path}}" alt="" class = "img-thumbnail">
        <li class="text-center">
          {{ playing_now.title|truncatechars:10 }}
      </li>      
    </a>
    </div>
    {% endfor %}
    </div>
    
  </div>
</div>
</div>


  <!-- <h1 class="text-center" id= "category-title">Top Rated Movies</h1>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 d-flex movie-card" id = "movie-cont">
    {% for top_rated_movie in top_rated_movie|slice:":4" %}
      
    <div>
      <a href="">        
        <img src="https://image.tmdb.org/t/p/w500/{{top_rated_movie.poster_path}}" alt="">
        <li class="text-center">
          {{ top_rated_movie.title|truncatechars:10}}
      </li>
      
    </a>
    </div>
    {% endfor %}
  </div>
  </div>
</div> -->


  <h1 class="text-center" id= "category-title">Top Rated TV shows</h1>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 d-flex movie-card" id = "movie-cont">
    {% for top_rated in top_rated_tv|slice:":4" %}  
   
    <div class = "img-cont">
      <a href="">
        <img src="https://image.tmdb.org/t/p/w500/{{top_rated.poster_path}}" alt="" class = "fluid img-thumbnail">
        <li class="text-center">
          {{ top_rated.title|truncatechars:10}}
      </li>
      
    </a>
    </div>
    {% endfor %}
  </div>
  </div>
</div>

<!-- upcoming_movies -->


  <h1 class="text-center" id= "category-title">Upcoming Movies</h1>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 d-flex movie-card" id = "movie-cont">
    {% for upcoming_movies in upcoming_movies|slice:":4" %}   
   
    <div class = "img-cont">
      <a href="">
        <img src="https://image.tmdb.org/t/p/w500/{{upcoming_movies.poster_path}}" alt="" class = "fluid img-thumbnail">
        <li class="text-center">
          {{ upcoming_movies.title|truncatechars:10}}
      </li>
      
    </a>
    </div>
    {% endfor %}
  </div>
  </div>
</div>

<!-- popular_tv_shows -->

  <h1 class="text-center" id= "category-title">Must Watch</h1>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 d-flex movie-card" id = "movie-cont">
    {% for popular_tv_shows in popular_tv_shows|slice:":4" %}
   
    <div class = "img-cont">
      <a href="">
        <img src="https://image.tmdb.org/t/p/w500/{{popular_tv_shows.poster_path}}" alt="" class = "fluid img-thumbnail">
        <li class="text-center">
          {{ popular_tv_shows.title|truncatechars:10}}
      </li>      
    </a>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
{%endblock%}