{%extends 'base.html'%}
{% load static %}
{% block content %}
{{ block.super}}

<div class="container-fluid">
    <div class="section">
      <h1 class="netflix"> NETFLIX</h1>
      <button type="button" class="btn btn-danger">Sign in</button>
    </div>

  <div class="section1">
     <h1>Untitled movies, TV shows, and more.</h1>
     <p>Watch anywhere. Cancel anytime. <br>Ready to watch? Enter your email to create or restart your membership </p>
     <input type="email" name="" id="" placeholder="Email address">
     <!-- <button type="button" class="btn btn-danger">Get started ></button> -->
  </div>
</div>

{% endblock %}